@import "./variables.scss";

body {
  overflow: hidden;
  position: absolute;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: $foreground_color;
  line-height: 1.6;
  font-family: $nunito;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
